<div class="row" style="background: url('/assets/t.jpg') repeat-x scroll 0% 0% transparent;">
  <div class="col-md-2">
  </div>

  <div class="col-md-8" style="background: url('/assets/main.png') no-repeat scroll 0% 0% transparent;">
    <br />
    <div style="background: url('/assets/rytit.png') no-repeat scroll 0% 0% transparent">
      <p class="text-right" style="padding: 15px 15px 25px 0px;">当前位置：<a href="/">首页</a>&gt;&gt;公司荣誉</p>
    </div>
    <div style="height: 505px">
      <p style="text-align: center">
        <img src="/assets/zh.png" alt=""></img>
      </p>
    </div>
  </div>

  <div class="col-md-2">
  </div>
</div>

