<div id="full-screen-slider">
	<ul id="slides">
		<li style="background:url(assets/1.jpg) no-repeat center center"></li>
		<li style="background:url(assets/2.jpg) no-repeat center center"></li>
    <li style="background:url(assets/3.jpg) no-repeat center center"></li>
    <li style="background:url(assets/4.jpg) no-repeat center center"></li>
	</ul>
</div>

