<div class="row" style="background: url('/assets/t.jpg') repeat-x scroll 0% 0% transparent;">
  <div class="col-md-2">
  </div>

  <div class="col-md-8" style="background: url('/assets/main.png') no-repeat scroll 0% 0% transparent;">
    <br />
    <div style="background: url('/assets/jjtit.png') no-repeat scroll 0% 0% transparent">
      <p class="text-right" style="padding: 15px 15px 25px 0px;">当前位置：<a href="/">首页</a>&gt;&gt;公司简介</p>
    </div>
    <div style="height: 505px; line-height: 30px; text-indent: 2em;">
      <p>烟台市立民红木家具有限公司始创于1996年，在消费者、社会各界的大力支持下迅速发展成为一家集设计、研发、生产、销售于一体的现代化创新型实木家具企业。公司总部位于规划建设中的烟台市牟平武宁工业园区（S207牟乳公路陡崖子村段），占地近40亩，一期厂房建筑面积近万平方米，各类先进生产设备数十台，云集了大批优秀人才。公司从长远战略出发，于2014年起与深圳铭道设计公司合作，共同开展新产品研发工作，并新增实木精装业务，为客户打造全方位的实木硬、软装个性化定制服务。</p>
      <p>精品创新之路、立为民服务品牌，是立民人一贯坚持的宗旨，公司于2005年即通过了ISO9001:2000国际质量管理体系认证和ISO14000国际环境管理体系认证，产品在行业内向来以款式新颖、做工精良著称。公司生产的民用家具产品秉承了中式风格和传统工艺的精髓，用现代审美观点重新打造产品的每一个细节，设计出了既有东方古典韵味又有现代时尚品味的新中式健康实木家具，倾心服务于广大消费者。依靠创新的设计理念，公司现拥有发明专利15项，实用新型专利9项，外观专利25项，多次获得政府表彰，成为烟威地区家具创新企业典范，总经理邢秋平先生被评为烟台市牟平区科技进步能人。</p>
      <p>经过二十多年的潜心经营，立民家具已发展成为胶东实木家具的杰出代表。立质为优，诚心为民，立民家具欢迎与全国消费者和各界朋友携手进步，共创美好生活！</p>
      <div>&nbsp;</div>
      <span class="dw"></span>
    </div>
  </div>

  <div class="col-md-2">
  </div>
</div>
