<div class="row" style="background: url('/assets/t.jpg') repeat-x scroll 0% 0% transparent;">
  <div class="col-md-2">
  </div>

  <div class="col-md-8" style="background: url('/assets/main.png') no-repeat scroll 0% 0% transparent;">
    <br />
    <div style="background: url('/assets/dltit.png') no-repeat scroll 0% 0% transparent">
      <p class="text-right" style="padding: 15px 15px 25px 0px;">当前位置：<a href="/">首页</a>&gt;&gt;售后服务</p>
    </div>
    <div style="height: 505px; line-height: 30px; text-indent: 2em; background: url('/assets/fw.png') no-repeat scroll right bottom transparent;">
      <p>我们的追求，不只是设计制造精良的产品。帮助消费者选到适合他们的产品，才是我们最终的使命。立民自成 立以来，就建立和发展起了一支强大的售后服务队伍，目前，售后服务网络广泛，并在家具行业率先提出全面提升服务质量，变&ldquo;被动受理投诉&rdquo;为&ldquo;主动关怀售后&rdquo;真正做到超越客户期望，打造第一品牌，为您提供优质、高效、快捷的售后服务。</p>
      <p><b>服务目标：</b>让用户百分之百满意；</p>
      <p><b>服务宗旨：</b>为您全心全意，让您无优无虑；</p>
      <p><b>服务理念：</b>主动、及时、专业、高效；</p>
      <div>&nbsp;</div>
      <span class="dw"></span>
    </div>
  </div>

  <div class="col-md-2">
  </div>
</div>

