<div class="row" style="background: url('/assets/t.jpg') repeat-x scroll 0% 0% transparent;">
  <div class="col-md-2">
  </div>

  <div class="col-md-8" style="background: url('/assets/main.png') no-repeat scroll 0% 0% transparent;">
    <br />
    <div style="background: url('/assets/lxtit.png') no-repeat scroll 0% 0% transparent">
      <p class="text-right" style="padding: 15px 15px 25px 0px;">当前位置：<a href="/">首页</a>&gt;&gt;联系我们</p>
    </div>
    <div style="height: 505px; background: url('/assets/lx.png') no-repeat scroll left bottom transparent;">
      <div style="line-height: 30px;text-indent: 2em; float: left">
        <span style="font-size: 16px; font-weight: bold">烟台市立民红木家具有限公司</span>
        <br /> 
        生产厂址：&nbsp; &nbsp; 山东省烟台市牟平区武宁街道立民街158号<br />
        体验馆地址：山东省烟台市牟平区东华家泰家居三层南首<br />
        电话：0535-4707733<br />
        传真：0535-4326056<br />
        营销热线：实木家具 王女士 13780901198<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 实木精装 邢先生 13780907866<br />
        客服热线：王先生 13953551690<br />
        24小时客服QQ：653392968<br />
        公众微信号：shimushenghuo<br />
        网址：http://www.china-limin.com
      </div>

      <div style="width:450px;height:430px;border:#ccc solid 1px; float: right" id="dituContent"></div>
      <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
      <script>
      function init() {
        var center = new qq.maps.LatLng(37.374037,121.596315);
        var map = new qq.maps.Map(document.getElementById('dituContent'),{
            center: center,
            zoom: 18
        });
        var marker = new qq.maps.Marker({
          position: center,
          map: map
        });
      }

      init();
      </script>
    </div>
    <span class="dw"></span>
  </div>

  <div class="col-md-2">
  </div>
</div>
